@model Labinator2016.Lib.Models.Course

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CourseId)
        @Html.Hidden("Session", (String)ViewBag.Session)

        <div class="row wide" id="NameRow">
            <label class="control-label col-sm-2 col-xs-12">Name</label>
            <div class="col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row wide" id="DaysRow">
            <label class="control-label col-sm-2 col-xs-12">Course Length (Days)</label>
            <div class="col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row wide" id="HoursRow">
            <label class="control-label col-sm-2 col-xs-12">Day Length (Hours)</label>
            <div class="col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row wide" id="TemplateRow">
            <label class="control-label col-sm-2 col-xs-12">Environment Template</label>
            <div class="col-sm-9 col-xs-12">
                @Html.DropDownList("Template", null, new { @class = "form-control", onchange = "UpdateMachines()" })
                @Html.ValidationMessageFor(model => model.Template, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row wide" id="Table">
            <div class="col-sm-12">
                <table width="100%" class="table table-striped table-bordered" id="datatable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Machine Name</th>
                            <th>Used</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row wide" id="ButtonRow">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12" align="center">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
<script src="~/Scripts/CourseEdit.js" language="javascript"></script>
}