@model Labinator2016.Lib.Models.DataCenter

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DataCenterId)
    <div class="form-horizontal">
        <div class="row wide">
            <label class="control-label col-sm-2 col-xs-12">Name</label>
            <div class="col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row wide">
            <label class="control-label col-sm-2 col-xs-12">Region</label>
            <div class="col-sm-9 col-xs-12">
                @{
                    if (Model.DataCenterId == 0)
                    {
                        @Html.DropDownList("Region", null, new { @class = "form-control" })
                    }
                    else
                    {
                        @Model.Region
                        @Html.HiddenFor(model => model.Region)
                    }
                }
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row wide">
            <label class="control-label col-sm-2 col-xs-12">Timezone</label>
            <div class="col-sm-9 col-xs-12">
                @Html.DropDownList("Timezone", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Timezone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row wide">
            <label class="control-label col-sm-2 col-xs-12">Type</label>
            <div class="col-sm-9 col-xs-12">
                <div class="checkbox">
                    @Html.RadioButtonFor(model => model.Type, "false", new { id = "skytap" })
                    @Html.Label("skytap", "SkyTap")

                    @Html.RadioButtonFor(model => model.Type, "true", new { id = "hyperv" })
                    @Html.Label("hyperv", "Hyper-V")
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row wide">
            <label class="control-label col-sm-2 col-xs-12">Gateway</label>
            <div class="col-sm-9 col-xs-12">
                @Html.HiddenFor(model => model.GateWayId, new { @id = "oldGW", @name = "oldGW" })
                <select name="GateWayId" id="GateWayId" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.GateWayId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row wide">
            <label class="control-label col-sm-2 col-xs-12">Gateway IP</label>
            <div class="col-sm-9 col-xs-12">
                @Html.EditorFor(model => model.GateWayIP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GateWayIP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
@section Scripts {
    <script src="/Scripts/DataCenterEdit.js" language="javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
