<!DOCTYPE html>
@using Labinator2016.Lib.Utilities
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive Intelligence Education Virtual Lab</title>
    <link rel="apple-touch-icon" href="/Images/ININ_favicon.png" />
    <link rel="ICON" href="/Images/ININ_favicon.png" />
    <link rel="icon" href="/Images/ININ_favicon.png" sizes="16x16" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" String href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" String href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" String href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.bootstrap.min.css" />
    @RenderSection("css", required: false)
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container full-height">
        <div class="row full-height">
            <div class="col-md-12 col-lg-12 full-height">
                <div class="panel panel-primary full-height">
                    <div class="panel-heading">
                        <center>
                            @Html.Raw("&nbsp;")
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default" })
                            @if (User.IsInRole("Administrator"))
                            {
                            @Html.Raw("&nbsp;")
                            @Html.ActionLink("DataCenters", "Index", "DataCenters", null, new { @class = "btn btn-default" })
                            @Html.Raw("&nbsp;")
                            @Html.ActionLink("Users", "Index", "Users", null, new { @class = "btn btn-default" })
                            @Html.Raw("&nbsp;")
                            @Html.ActionLink("Courses", "Index", "Courses", null, new { @class = "btn btn-default" })
                            @Html.Raw("&nbsp;")
                            @Html.ActionLink("Reports", "Index", "Reports", null, new { @class = "btn btn-default" })
                            }
                            @Html.Raw("&nbsp;")
                            @Html.ActionLink("Logout", "Logout", "Users", null, new { @class = "btn btn-default" })
                            @Html.Raw("&nbsp;")
                        </center>
                    </div>

                    <div class="panel-body full-height">
                        @RenderBody()
                    </div>
                    <div class="panel-footer">
                        <center>

                                    <span align="center" class="disclaimer"><br><b>IC</b> and <b>Interaction Client</b> are abbreviated terms indicating the core Customer Interaction Center&trade; (CIC) product from Interactive Intelligence, and used for internal Education Services purposes only.</span><br/>
                                    <span align="center" class="copyright"> &copy;@DateTime.Now.Year Interactive Intelligence, Inc. All Rights Reserved. @Html.CurrentVersion()</span>
                        </center>
                    </div>
                </div>

            </div>
        </div>
    </div>
        
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" ></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js" ></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js" ></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.bootstrap.min.js" ></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @*@Scripts.Render("/bundles/modernizr")*@
    @*@Scripts.Render("/bundles/jquery-ui")*@
</body>
</html>