@model Labinator2016.ViewModels.LoginViewModel
<div class="row wide">
    <div class="col-sm-11 menu-bar-text margin-bottom-md"><h1 class="v-center-text"><b>Virtual Lab Login</b></h1></div>
</div>
<div class="row wide">
    <div class="col-md-5 col-md-offset-1">
        <p>
            Welcome to the Interactive Intelligence Virtual Lab login, which will give you access to a testing environment where you can experience first hand going through our Lab Manuals.
        </p>
        <p>
                        Simply sign-in to the right with the login credentials supplied to you.
        </p>
        <p>
            Good Luck!
        </p>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="panel panel-labinator rounded">
            <div class="panel-heading rounded-top">
                <div class="panel-title">
                    <center>
                        <b>Virtual Lab Login</b>
                    </center>
                </div>
            </div>
            @using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "login_form" }))
            {
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ReturnUrl)
                    <div class="formBody">
                        Email address<br>
                    </div>
                    @Html.TextBoxFor(m => m.UserName)
                    <br>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <br>
                    <div class="formBody">
                        Password<br>
                    </div>
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div align="center" class="panel-footer rounded-bottom">
                    <input type="submit" value="Login" name="usrlogin" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
